<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/main.css">
        <style type="text/css">
            article {
                width:900px;
                margin: 0 auto;
            }
            h1 {
                font-size: 2em;
                font-family: "Serif"
            }
        </style>
    </head>
    <body>
        <form method="post">
            <div>Location</div>
            <select>
              <option value="WesternCape">Western Cape</option>
              <option value="EasternCape">Eastern Cape</option>
              <option value="Gauteng">Gauteng</option>
              <option value="CapeTown">Cape Town</option>
            </select>
            <label>            
                <div>Location</div>
                <input type="text" name="location">
            </label>


            <div>Title</div>
            <label>
                <input type="text" name="title">
            </label>
            <input type="submit">
        </form>
    </body>
</html>
