{% extends "base.html" %}
{% block title %} | News and Opinions {% endblock %}
{% block content %}

        <h1>Abacus Finch</h1>
        <p>This website is currently a testing place for a number of ideas and websites based on a common, generic CMS based on Google App Engine. The <a href="latest">Latest "adverts" or content that has been posted can be seen here</a>. There different ideas are listed below.</p>
        <h2>Wanteds.co.za</h2>
        <hr>
        <p>
            Wanteds is a classifieds website specifically for posting wanted ads. The idea is that it makes more sense to look through wanted ads if you have somehting to sell because that way you can connect direclty with a customer.
        </p>
        <h2>Refa.co.za</h2>
        <hr>
        <p>
            Refa is a website where peopl that provide services in the home and garden maintanance industries or labourers such as painters, bricklayers, gardeners etc. can advertise their services as well as getting rated (or refa'd) and the work commented on.
        </p>
        <h2>Abacus Finch: The teaching community</h2>
        <hr>
        <p>
            Welcome to Abacus Finch. Abacus Finch aims to bring teachers in South Africa closer together through providing an online community platform. The platform will focus on providing news and opinions on education technology. Additionally, online professional development courses for educators will be available. The online courses will promote the use of technology in the classroom and eventually educators will feel comfertable enough with ed-tech solutions to make use of them in the classroom.
        </p>
        <hr>
        <h2>WeddingSingers.co.za</h2>
        <p>
            Wedding Singers is a place where people involved in providing services for the wedding industry can advertise their services. People that have used them can comment on rate their servicee. 
        </p>
        <hr>
        <h4>To Do List: </h4>
        <ul>
            <li>Prevent multiple account being created for each e-mail address<input type="checkbox"/></li>
            <li>Use cookies so that users can see when they are loggedin<input type="checkbox"/></li>
            <li>Make website responsive</li>
            <li>Build up templating system</li>
            <li>Start uploading content to platform</li>
            <li>Split platform into News and Opinion</li>
            <li>Integrate Coursebuilder</li>
            <li>Integrate video search</li>
        </ul>
        <hr>
        <a href="/blog">Blog</a>
        <a href="/blog/signup">Signup</a>
        <hr>

{% endblock %}