<!DOCTYPE html>

<html>
    <head>
        <title>Abacus Finch | Welcome</title>
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <h1>Abacus Finch</h1>
        <h2>The teaching community</h2>
        <hr>
        <p>Welcome to Abacus Finch. Abacus Finch aims to bring teachers in South Africa closer together through providing an online community platform. The platform will focus on providing news and opinions on education technology. Additionally, online professional development courses for educators will be available. The online courses will promote the use of technology in the classroom and eventually educators will feel comfertable enough with ed-tech solutions to make use of them in the classroom.</p>
        <h4>To Do List: </h4>
        <ul>
            <li>Prevent multiple account being created for each e-mail address<input type="checkbox"/></li>
            <li>Use cookies so that users can see when they are loggedin<input type="checkbox"/></li>
            <li>Make website responsive</li>
            <li>Build up templating system</li>
            <li>Start uploading content to platform</li>
            <li>Split platform into News and Opinion</li>
            <li>Integrate Coursebuilder</li>
            <li>Integrate video search</li>
        </ul>
        <a href="/blog">Blog</a>
        <a href="/blog/signup">Signup</a>
    </body>
</html>