{% extends "base.html" %}
{% block title %} | News and Opinions {% endblock %}
{% block content %}

        <article>
          <h1>Latest adverts and posts posted to this page</h1>
          <hr />
          {% if filtered %}
              <p>Filtered by: {{filtered[0]}}, {{filtered[1]}}</p>
          {% endif %}
          {% for item in articles %}
            
            <div class="article">
                <div class="article-name"><h3>Name: {{item.name}}</h3></div>
                <div class="article-title"><h2>Title: {{ item.title }}</h2></div>
                Content: <div class="article-content">{{ item.content }}</div>
                <div class="article-location">Location: {{ item.location}}</div>
                <div class="article-phonenumber">Contact Number: {{item.phone_number}}</div>
                <div class="article-votes">
                    <form action="/latest" method="post">
                        <input name="id" value={{item.key().id()}} style="display:none">
                        Votes: {{item.votes}} <button type="button" class="btn btn-primary">Vote+</button>
                    </form>
                </div>
                <!-- <div class="article-ip">{{item.ip_address}}</div> -->
                <!-- <div class="article-created">{{item.created}}</div> -->
                <!-- {{ item.id }} -->
                <p>
                    <small>
                        <a href="/post/{{ item.key().id() }}">Permalink </a>{{ item.key().id()|string }} | {{ item.created }}
                    </small>
                </p>
                <a href="/post/{{ item.key().id() }}">Comment</a>
                <a href="/report">Report</a>
            </div>
            <hr />
          {% endfor %}
        </article>

{% endblock %}